@import "tailwindcss";

/* Sembunyikan scrollbar di kategori filter */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
    

